/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #eed2d2;
	--secondary-color: #1acbeb;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #ff1414;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.form__input._error{
	box-shadow: 0 0 10px rgb(255, 0, 0);
}
.form{
	max-width: 550px;
	margin:0px 0px 50px 0px;
	color: #000000;
	padding: 30px 0;
	background-color: #1acceb6c;
	border-radius: 10px;
}
.form__title{
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
}
.form__item{
	margin: 0px 0px 20px 0px;
}
.form__label{
	font-size: 20px;
	display:block;
	margin: 0px 0px 10px 0px;
}
.form__body{
	position:relative;
}
.form__body::after{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.788) url(loading.gif) center / 300px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	border-radius: 15px;
}
.form__body._sending::after{
	opacity: 1;
	visibility: visible;
}
#responseGood{
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
#responseGood._sending{
	opacity: 1;
	visibility: visible;
}
#responseBad{
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
#responseBad._sending{
	opacity: 1;
	visibility: visible;
}
.form__input{
	height:40px;
	padding: 0px 20px;
	border-radius: 5px;
	width:88.5%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}
select{
	width:100%;
	height:40px;
	border-radius: 5px;
	font-size: 18px;
	padding: 0px 20px;
}
textarea {
	min-height: 120px;
	resize:vertical;
	padding:20px;
}
.form__button{
	margin: 20px 0px 0px 0px;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 60px ;
	background-color: rgb(248, 116, 198) ;
	color:white ;
	font-size:18px ;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-shadow: 0 3px 0 #572d40;
	position:relative;
	top: 0;
}
.form__input:focus{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}
.form *{
	outline: none;
}
.form__button:hover{
	background-color: #ff0073;
}
.form__button:active{
	top:3px;
	box-shadow: 0 1px 0 #572d40;
}
h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}