@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--font-mono: 'Fira Mono', monospace;
	--pure-white: #fff;
	--primary-color: #eed2d2;
	--secondary-color: #1acbeb;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--success-color: rgb(47 146 47);
	--error-color: #f54343;
}

body {
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%, var(--pure-white) 0%, var(--primary-color) 100%);
	opacity: 5%;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.mainForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

textarea,
input {
	padding: 15px;
	width: 100%;
}

textarea {
	height: 250px;
	display: block;
	resize: none;
}

button {
	margin: 20px;
	width: 50%;
}

button:hover {
	cursor: pointer;
	background-color: var(--secondary-color);
	transition: ease 600ms;
}

.successMessage {
	color: var(--success-color);
}

.errorMessage {
	color: var(--error-color);
}
